<!DOCTYPE html>
<html lang="en">
<head>
  <title>Rules List</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="jQuery-QueryBuilder-master/dist/css/query-builder.default.min.css">
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dot/1.1.3/doT.min.js" integrity="sha512-mv9iHAP8cyGYB1TX54qMIFYFbHpFoqo1StdcuIUoAxTXIiFfOu22TjJGrFMpY+iR4QmGkElLlHBVx5C+PiIdvg==" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-extendext@1.0.0/jquery-extendext.min.js"></script>
  <script src="https://cdnjs.com/libraries/moment.js"></script>
  <script src="jQuery-QueryBuilder-master/dist/js/query-builder.standalone.min.js"></script>
</head>
<body>

<div ng-app="rulesapp" ng-controller="rulesctrl" class="container">
  <h2>Rules List</h2> 
  
<a href="creationpage.html" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus"></span>  Create Rule</a> 
<a href="userslist.html" class="btn btn-primary pull-right" style="margin-right:10px;margin-bottom:20px;"><span class="glyphicon glyphicon-th-list"></span>  Users List</a> 
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>Rule ID</th>
				<th>Rule Name</th>
				<th>Priority</th>
				<th>Project Name</th>
				<th>Status</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="rule in rulesdata.data">
				<td>{{rule.ruleid}}</td>
				<td>{{rule.rulename}}</td>
				<td>{{rule.priority}}</td>
				<td>{{rule.zprojectname}}</td>
				<td><span class="label label-success">Active</span></td>
				<td>
					<div class="dropdown">
						<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Actions
						<span class="caret"></span></button>
						<ul class="dropdown-menu">
							<!-- <li><a data-toggle="modal" data-target="#criteriamodal">View Rule</a></li> -->
							<li><a href="#" ng-click="viewrule($index)">View Rule</a></li> 
							<li class="divider"></li>
							<li><a href="#" ng-click="deleterule(rule.ruleid)">Delete Rule</a></li>
						</ul>
					</div>
				</td>
			</tr>
		</tbody>
	</table>


 <!-- Modal -->
  <div class="modal fade" id="criteriamodal" role="dialog">
    <div class="modal-dialog modal-lg">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Rule Details</h4>
        </div>
        <div class="modal-body" style="pointer-events: none;">
          <div class="container" style="width:850px;">

	<div class="panel panel-default">
		<div class="panel-body form-horizontal">
			<div class="form-group">
			  <label class="control-label col-sm-1" for="rulename">Rule Name:</label>
			  <div class="col-sm-11">
				<input type="text" class="form-control" disabled id="rulename" placeholder="Enter any unique name for this Rule.." name="rulename" value="Test Rule">
			  </div>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-body form-horizontal">
			<div class="form-group">
			  <label class="control-label col-sm-1" for="criteria">Criteria</label>
			  <div class="col-sm-11">
				<div id="builder-basic"></div>
				<!-- <button class="btn btn-primary pull-right" id="btn-get">Get Rules</button> -->
				<!-- <button class="btn btn-warning pull-right" id="btn-reset">Reset</button> -->
			  </div>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-body form-horizontal">
			<div class="form-group">
				<label class="control-label col-sm-1" for="projectname">Project ID:</label>
				<div class="col-sm-11">
					<input type="text" class="form-control" disabled id="projectname"/>
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-body form-horizontal">
			<div class="form-group">
				<label class="control-label col-sm-1" for="priority">Priority:</label>
				<div class="col-sm-11">
					<select class="form-control" disabled id="priority">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option selected>4</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-body form-horizontal">
			<div class="form-group">
				<label class="control-label col-sm-1" for="description">Description:</label>
				<div class="col-sm-11">
					<textarea class="form-control" rows="5" disabled id="description">Hello Test..</textarea>
				</div>
			</div>
		</div>
	</div>
	
</div>

        </div>
      </div>
      
    </div>
  </div>
 <!-- Modal -->
</div>



<script src="dashboard.js"></script>
<link rel="stylesheet" href="dashboard.css">
</body>
</html>
